<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/favicon.ico">
  <title>{{ site.name }} - {{ site.description }}</title>
  {% seo title=false %}
  <link href="/assets/main.css" rel="stylesheet">
</head>
<body class="{% if layout.post_class %}{{layout.post_class}}{% else %}home-template{% endif %}">

  {{ content }}

</body>
</html>
